# Import Libraries

In [1]:
import pandas as pd, numpy as np #basic package
from scipy import stats
from sklearn import preprocessing

from sklearn.ensemble import BaggingClassifier #bagging
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB

from sklearn.model_selection import train_test_split
from sklearn.feature_selection import RFE

# Data Preprocessing

### Transformation of labels

In [2]:
data = pd.read_csv('diabetic_data.csv')

#table of readmission status column
data.readmitted.value_counts()

NO     54864
>30    35545
<30    11357
Name: readmitted, dtype: int64

In [3]:
readmitted_tran = np.zeros(len(data.readmitted))
readmitted_tran[data.readmitted == "<30"] = 1

#trasfer to series and then add to data frame
readmitted_tran = pd.Series(readmitted_tran)
data['readmitted_tran'] = readmitted_tran

### Other Variable checking

In [4]:
list(data)

['encounter_id',
 'patient_nbr',
 'race',
 'gender',
 'age',
 'weight',
 'admission_type_id',
 'discharge_disposition_id',
 'admission_source_id',
 'time_in_hospital',
 'payer_code',
 'medical_specialty',
 'num_lab_procedures',
 'num_procedures',
 'num_medications',
 'number_outpatient',
 'number_emergency',
 'number_inpatient',
 'diag_1',
 'diag_2',
 'diag_3',
 'number_diagnoses',
 'max_glu_serum',
 'A1Cresult',
 'metformin',
 'repaglinide',
 'nateglinide',
 'chlorpropamide',
 'glimepiride',
 'acetohexamide',
 'glipizide',
 'glyburide',
 'tolbutamide',
 'pioglitazone',
 'rosiglitazone',
 'acarbose',
 'miglitol',
 'troglitazone',
 'tolazamide',
 'examide',
 'citoglipton',
 'insulin',
 'glyburide-metformin',
 'glipizide-metformin',
 'glimepiride-pioglitazone',
 'metformin-rosiglitazone',
 'metformin-pioglitazone',
 'change',
 'diabetesMed',
 'readmitted',
 'readmitted_tran']

In [6]:
for i in range(0,51):
    print(data.iloc[:,i].value_counts())

96210942     1
89943846     1
384306986    1
94650156     1
83156784     1
2674482      1
281345844    1
193616274    1
355508024    1
165973818    1
125278944    1
420873188    1
157241154    1
161161032    1
174855390    1
134950734    1
154128210    1
96993108     1
122064144    1
297770840    1
382612616    1
165134172    1
108244830    1
210578766    1
443842340    1
151469730    1
289146210    1
154590960    1
145948404    1
176328594    1
            ..
249722520    1
111830682    1
126506652    1
80193186     1
186881700    1
147162726    1
263120844    1
249665124    1
151295556    1
113303472    1
73909806     1
422050106    1
13655088     1
168523320    1
296140568    1
98784828     1
157333056    1
280536642    1
130655706    1
190162530    1
107017800    1
103828530    1
176744010    1
172279374    1
297285200    1
74454612     1
208073976    1
166229592    1
38340702     1
77856768     1
Name: encounter_id, Length: 101766, dtype: int64
88785891     40
43140906     28
23199021     23
1660293      23
88227540     23
23643405     22
84428613     22
92709351     21
23398488     20
90609804     20
88789707     20
37096866     20
89472402     20
29903877     20
88681950     19
88479036     19
97391007     19
24011577     18
3481272      18
91160280     18
84348792     18
3401055      18
91751121     18
106757478    17
90489195     17
41699412     17
84676248     16
384939       16
90164655     16
41617368     16
             ..
141459593     1
54207855      1
71579169      1
23406147      1
6348348       1
137952824     1
23234103      1
78943797      1
43683723      1
85241394      1
18267696      1
45161577      1
32417442      1
61105707      1
106231896     1
3397149       1
39734766      1
23850522      1
42977016      1
113160366     1
8105490       1
16600590      1
92990970      1
783198        1
105551478     1
71081460      1
30060018      1
67443444      1
141344240     1
93251151      1
Name: patient_nbr, Length: 71518, dtype: int64
Caucasian          76099
AfricanAmerican    19210
?                   2273
Hispanic            2037
Other               1506
Asian                641
Name: race, dtype: int64
Female             54708
Male               47055
Unknown/Invalid        3
Name: gender, dtype: int64
[70-80)     26068
[60-70)     22483
[50-60)     17256
[80-90)     17197
[40-50)      9685
[30-40)      3775
[90-100)     2793
[20-30)      1657
[10-20)       691
[0-10)        161
Name: age, dtype: int64
?            98569
[75-100)      1336
[50-75)        897
[100-125)      625
[125-150)      145
[25-50)         97
[0-25)          48
[150-175)       35
[175-200)       11
>200             3
Name: weight, dtype: int64
1    53990
3    18869
2    18480
6     5291
5     4785
8      320
7       21
4       10
Name: admission_type_id, dtype: int64
1     60234
3     13954
6     12902
18     3691
2      2128
22     1993
11     1642
5      1184
25      989
4       815
7       623
23      412
13      399
14      372
28      139
8       108
15       63
24       48
9        21
17       14
16       11
19        8
10        6
27        5
12        3
20        2
Name: discharge_disposition_id, dtype: int64
7     57494
1     29565
17     6781
4      3187
6      2264
2      1104
5       855
3       187
20      161
9       125
8        16
22       12
10        8
11        2
14        2
25        2
13        1
Name: admission_source_id, dtype: int64
3     17756
2     17224
1     14208
4     13924
5      9966
6      7539
7      5859
8      4391
9      3002
10     2342
11     1855
12     1448
13     1210
14     1042
Name: time_in_hospital, dtype: int64
?     40256
MC    32439
HM     6274
SP     5007
BC     4655
MD     3532
CP     2533
UN     2448
CM     1937
OG     1033
PO      592
DM      549
CH      146
WC      135
OT       95
MP       79
SI       55
FR        1
Name: payer_code, dtype: int64
?                                    49949
InternalMedicine                     14635
Emergency/Trauma                      7565
Family/GeneralPractice                7440
Cardiology                            5352
Surgery-General                       3099
Nephrology                            1613
Orthopedics                           1400
Orthopedics-Reconstructive            1233
Radiologist                           1140
Pulmonology                            871
Psychiatry                             854
Urology                                685
ObstetricsandGynecology                671
Surgery-Cardiovascular/Thoracic        652
Gastroenterology                       564
Surgery-Vascular                       533
Surgery-Neuro                          468
PhysicalMedicineandRehabilitation      391
Oncology                               348
Pediatrics                             254
Hematology/Oncology                    207
Neurology                              203
Pediatrics-Endocrinology               159
Otolaryngology                         125
Endocrinology                          120
Surgery-Thoracic                       109
Psychology                             101
Podiatry                               100
Surgery-Cardiovascular                  98
                                     ...
Anesthesiology-Pediatric                19
Obstetrics                              19
Rheumatology                            17
Pathology                               17
Anesthesiology                          12
OutreachServices                        12
Surgery-Maxillofacial                   11
PhysicianNotFound                       11
Surgery-Colon&Rectal                    11
Pediatrics-Neurology                    10
Endocrinology-Metabolism                 8
Surgery-Pediatric                        8
Psychiatry-Child/Adolescent              7
Cardiology-Pediatric                     7
AllergyandImmunology                     7
DCPTEAM                                  6
Pediatrics-Hematology-Oncology           4
Dentistry                                4
Pediatrics-AllergyandImmunology          3
Pediatrics-EmergencyMedicine             3
Resident                                 2
Surgery-PlasticwithinHeadandNeck         1
Speech                                   1
Pediatrics-InfectiousDiseases            1
Neurophysiology                          1
Psychiatry-Addictive                     1
Dermatology                              1
Proctology                               1
Perinatology                             1
SportsMedicine                           1
Name: medical_specialty, Length: 73, dtype: int64
1      3208
43     2804
44     2496
45     2376
38     2213
40     2201
46     2189
41     2117
42     2113
47     2106
39     2101
37     2079
49     2066
48     2058
36     1962
51     1925
50     1924
35     1907
54     1888
56     1839
52     1838
55     1836
53     1802
57     1747
58     1708
34     1677
61     1638
59     1624
60     1610
63     1450
       ...
89       73
90       65
91       61
93       56
92       48
95       46
94       45
97       31
96       28
98       26
101      13
100      13
99        9
102       8
103       6
105       6
106       5
109       4
108       4
111       3
113       3
104       3
114       2
126       1
132       1
107       1
118       1
129       1
120       1
121       1
Name: num_lab_procedures, Length: 118, dtype: int64
0    46652
1    20742
2    12717
3     9443
6     4954
4     4180
5     3078
Name: num_procedures, dtype: int64
13    6086
12    6004
11    5795
15    5792
14    5707
16    5430
10    5346
17    4919
9     4913
18    4523
8     4353
19    4078
20    3691
7     3484
21    3230
22    2868
6     2699
23    2426
24    2109
5     2017
25    1888
26    1608
27    1432
4     1417
28    1233
29    1000
3      900
30     849
31     712
32     623
      ...
45      88
47      74
49      61
48      60
50      55
52      54
51      43
53      40
56      37
54      33
55      32
57      26
58      25
60      23
59      20
62      15
63      14
61      14
65      12
64       8
68       7
67       7
69       5
66       5
72       3
70       2
75       2
74       1
79       1
81       1
Name: num_medications, Length: 75, dtype: int64
0     85027
1      8547
2      3594
3      2042
4      1099
5       533
6       303
7       155
8        98
9        83
10       57
11       42
13       31
12       30
14       28
15       20
16       15
17        8
21        7
20        7
22        5
18        5
19        3
24        3
27        3
23        2
25        2
26        2
29        2
33        2
35        2
36        2
40        1
28        1
34        1
37        1
38        1
39        1
42        1
Name: number_outpatient, dtype: int64
0     90383
1      7677
2      2042
3       725
4       374
5       192
6        94
7        73
8        50
10       34
9        33
11       23
13       12
12       10
22        6
18        5
16        5
19        4
20        4
14        3
15        3
21        2
25        2
76        1
54        1
24        1
28        1
29        1
37        1
42        1
46        1
64        1
63        1
Name: number_emergency, dtype: int64
0     67630
1     19521
2      7566
3      3411
4      1622
5       812
6       480
7       268
8       151
9       111
10       61
11       49
12       34
13       20
14       10
15        9
16        6
19        2
17        1
18        1
21        1
Name: number_inpatient, dtype: int64
428       6862
414       6581
786       4016
410       3614
486       3508
427       2766
491       2275
715       2151
682       2042
434       2028
780       2019
996       1967
276       1889
38        1688
250.8     1680
599       1595
584       1520
V57       1207
250.6     1183
518       1115
820       1082
577       1057
493       1056
435       1016
562        989
574        965
296        896
560        876
250.7      871
250.13     851
          ...
791          1
314          1
842          1
885          1
V60          1
148          1
690          1
895          1
704          1
817          1
911          1
373          1
957          1
605          1
389          1
838          1
698          1
976          1
145          1
372          1
837          1
994          1
870          1
919          1
347          1
318          1
982          1
391          1
217          1
375          1
Name: diag_1, Length: 717, dtype: int64
276       6752
428       6662
250       6071
427       5036
401       3736
496       3305
599       3288
403       2823
414       2650
411       2566
250.02    2074
707       1999
585       1871
584       1649
491       1545
250.01    1523
285       1520
780       1491
425       1434
682       1433
486       1379
518       1355
424       1071
413       1042
250.6      895
493        881
305        702
786        644
280        606
998        571
          ...
E818         1
E945         1
192          1
123          1
V50          1
270          1
V13          1
E813         1
316          1
96           1
173          1
182          1
E882         1
977          1
917          1
475          1
325          1
223          1
E829         1
832          1
948          1
E850         1
E938         1
615          1
E883         1
347          1
529          1
E890         1
232          1
963          1
Name: diag_2, Length: 749, dtype: int64
250       11555
401        8289
276        5175
428        4577
427        3955
414        3664
496        2605
403        2357
585        1992
272        1969
599        1941
?          1423
V45        1389
250.02     1369
707        1360
780        1334
285        1200
425        1136
250.6      1080
424        1063
584         963
305         924
250.01      915
682         887
518         854
41          727
493         694
278         680
530         625
786         584
          ...
980           1
123           1
E826          1
992           1
381           1
E882          1
265           1
E861          1
951           1
732           1
893           1
27            1
243           1
837           1
884           1
75            1
972           1
E876          1
215           1
47            1
669           1
622           1
871           1
391           1
E883          1
697           1
E892          1
853           1
987           1
876           1
Name: diag_3, Length: 790, dtype: int64
9     49474
5     11393
8     10616
7     10393
6     10161
4      5537
3      2835
2      1023
1       219
16       45
10       17
13       16
11       11
15       10
12        9
14        7
Name: number_diagnoses, dtype: int64

None    96420
Norm     2597
>200     1485
>300     1264
Name: max_glu_serum, dtype: int64
None    84748
>8       8216
Norm     4990
>7       3812
Name: A1Cresult, dtype: int64
No        81778
Steady    18346
Up         1067
Down        575
Name: metformin, dtype: int64
No        100227
Steady      1384
Up           110
Down          45
Name: repaglinide, dtype: int64
No        101063
Steady       668
Up            24
Down          11
Name: nateglinide, dtype: int64
No        101680
Steady        79
Up             6
Down           1
Name: chlorpropamide, dtype: int64
No        96575
Steady     4670
Up          327
Down        194
Name: glimepiride, dtype: int64
No        101765
Steady         1
Name: acetohexamide, dtype: int64
No        89080
Steady    11356
Up          770
Down        560
Name: glipizide, dtype: int64
No        91116
Steady     9274
Up          812
Down        564
Name: glyburide, dtype: int64
No        101743
Steady        23
Name: tolbutamide, dtype: int64
No        94438
Steady     6976
Up          234
Down        118
Name: pioglitazone, dtype: int64
No        95401
Steady     6100
Up          178
Down         87
Name: rosiglitazone, dtype: int64
No        101458
Steady       295
Up            10
Down           3
Name: acarbose, dtype: int64
No        101728
Steady        31
Down           5
Up             2
Name: miglitol, dtype: int64
No        101763
Steady         3
Name: troglitazone, dtype: int64
No        101727
Steady        38
Up             1
Name: tolazamide, dtype: int64
No    101766
Name: examide, dtype: int64
No    101766
Name: citoglipton, dtype: int64
No        47383
Steady    30849
Down      12218
Up        11316
Name: insulin, dtype: int64
No        101060
Steady       692
Up             8
Down           6
Name: glyburide-metformin, dtype: int64
No        101753
Steady        13
Name: glipizide-metformin, dtype: int64
No        101765
Steady         1
Name: glimepiride-pioglitazone, dtype: int64
No        101764
Steady         2
Name: metformin-rosiglitazone, dtype: int64
No        101765
Steady         1
Name: metformin-pioglitazone, dtype: int64
No    54755
Ch    47011
Name: change, dtype: int64
Yes    78363
No     23403
Name: diabetesMed, dtype: int64
NO     54864
>30    35545
<30    11357
Name: readmitted, dtype: int64
0.0    90409
1.0    11357
Name: readmitted_tran, dtype: int64

### Drop Variables Visually

In [7]:
data.replace('?', np.nan, inplace = True)
data1 = data.copy()
del data1["encounter_id"]
del data1["patient_nbr"]
del data1["acetohexamide"]
del data1["troglitazone"]
del data1["examide"]
del data1["citoglipton"]
del data1["glimepiride-pioglitazone"]
del data1["metformin-rosiglitazone"]
del data1["metformin-pioglitazone"]
del data1["readmitted"]
data1.shape

(101766, 41)

## Prepare Training vs Test Set

### Seperate Target

In [8]:
target = data1["readmitted_tran"]
df = data1.drop('readmitted_tran',axis = 1)

## Missing Values

In [9]:
df.isnull().any()[df.isnull().any() == True]

race                 True
weight               True
payer_code           True
medical_specialty    True
diag_1               True
diag_2               True
diag_3               True
dtype: bool

In [10]:
df['race'].replace(np.nan, 0, inplace = True)
df['weight'].replace(np.nan, 0, inplace = True)
df['payer_code'].replace(np.nan, 0, inplace = True)
df['medical_specialty'].replace(np.nan, 0, inplace = True)
df['diag_1'].replace(np.nan, 0, inplace = True)
df['diag_2'].replace(np.nan, 0, inplace = True)
df['diag_3'].replace(np.nan, 0, inplace = True)

### Dummy Variables

### Race

In [11]:
race_dummy = pd.get_dummies(df['race'])
race_dummy.head()

   0  AfricanAmerican  Asian  Caucasian  Hispanic  Other
0  0                0      0          1         0      0
1  0                0      0          1         0      0
2  0                1      0          0         0      0
3  0                0      0          1         0      0
4  0                0      0          1         0      0

### Gender

In [12]:
gender_dummy = pd.get_dummies(df['gender'])
gender_dummy.head()

   Female  Male  Unknown/Invalid
0       1     0                0
1       1     0                0
2       1     0                0
3       0     1                0
4       0     1                0

### age

In [13]:
age_dummy = pd.get_dummies(df['age'])
age_dummy.head()

,[0-10),[10-20),[20-30),[30-40),[40-50),[50-60),[60-70),[70-80),[80-90),[90-100)
0,1,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0

### weight

In [14]:
weight_dummy = pd.get_dummies(df['weight'])
weight_dummy.head()

,0,>200,[0-25),[100-125),[125-150),[150-175),[175-200),[25-50),[50-75),[75-100)
0,1,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0

### admission_type_id

In [15]:
admission_type_id_dummy = pd.get_dummies(df['admission_type_id'])
admission_type_id_dummy.head()

   1  2  3  4  5  6  7  8
0  0  0  0  0  0  1  0  0
1  1  0  0  0  0  0  0  0
2  1  0  0  0  0  0  0  0
3  1  0  0  0  0  0  0  0
4  1  0  0  0  0  0  0  0

### discharge_disposition_id

In [16]:
discharge_disposition_id_dummy = pd.get_dummies(df['discharge_disposition_id'])
discharge_disposition_id_dummy.head()

,1,2,3,4,5,6,7,8,9,10,...,17,18,19,20,22,23,24,25,27,28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### admission_source_id

In [17]:
admission_source_id_dummy = pd.get_dummies(df['admission_source_id'])
admission_source_id_dummy.head()

   1   2   3   4   5   6   7   8   9   10  11  13  14  17  20  22  25
0   1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
1   0   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0
2   0   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0
3   0   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0
4   0   0   0   0   0   0   1   0   0   0   0   0   0   0   0   0   0

### payer_code

In [18]:
payer_code_dummy = pd.get_dummies(df['payer_code'])
payer_code_dummy.head()

   0  BC  CH  CM  CP  DM  FR  HM  MC  MD  MP  OG  OT  PO  SI  SP  UN  WC
0  1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
1  1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
2  1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
3  1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
4  1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0

### medical_specialty

In [19]:
medical_specialty_dummy = pd.get_dummies(df['medical_specialty'])
medical_specialty_dummy.head()

,0,AllergyandImmunology,Anesthesiology,Anesthesiology-Pediatric,Cardiology,Cardiology-Pediatric,DCPTEAM,Dentistry,Dermatology,Emergency/Trauma,...,Surgery-General,Surgery-Maxillofacial,Surgery-Neuro,Surgery-Pediatric,Surgery-Plastic,Surgery-PlasticwithinHeadandNeck,Surgery-Thoracic,Surgery-Vascular,SurgicalSpecialty,Urology
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### diag_3

In [20]:
diag_3_dummy = pd.get_dummies(df['diag_3'])
diag_3_dummy.head()

,0,11,110,111,112,115,117,122,123,131,...,V61,V62,V63,V64,V65,V66,V70,V72,V85,V86
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### max_glu_serum

In [21]:
max_glu_serum_dummy = pd.get_dummies(df['max_glu_serum'])
max_glu_serum_dummy.head()

   >200  >300  None  Norm
0     0     0     1     0
1     0     0     1     0
2     0     0     1     0
3     0     0     1     0
4     0     0     1     0

### A1Cresult

In [22]:
A1Cresult_dummy = pd.get_dummies(df['A1Cresult'])
A1Cresult_dummy.head()

   >7  >8  None  Norm
0   0   0     1     0
1   0   0     1     0
2   0   0     1     0
3   0   0     1     0
4   0   0     1     0

### metformin

In [23]:
metformin_dummy = pd.get_dummies(df['metformin'])
metformin_dummy.head()

   Down  No  Steady  Up
0     0   1       0   0
1     0   1       0   0
2     0   1       0   0
3     0   1       0   0
4     0   1       0   0

### repaglinide

In [24]:
repaglinide_dummy = pd.get_dummies(df['repaglinide'])
repaglinide_dummy.head()

   Down  No  Steady  Up
0     0   1       0   0
1     0   1       0   0
2     0   1       0   0
3     0   1       0   0
4     0   1       0   0

### nateglinide

In [25]:
nateglinide_dummy = pd.get_dummies(df['nateglinide'])
nateglinide_dummy.head()

   Down  No  Steady  Up
0     0   1       0   0
1     0   1       0   0
2     0   1       0   0
3     0   1       0   0
4     0   1       0   0

### chlorpropamide

In [26]:
chlorpropamide_dummy = pd.get_dummies(df['chlorpropamide'])
chlorpropamide_dummy.head()

   Down  No  Steady  Up
0     0   1       0   0
1     0   1       0   0
2     0   1       0   0
3     0   1       0   0
4     0   1       0   0

### glimepiride

In [27]:
glimepiride_dummy = pd.get_dummies(df['glimepiride'])
glimepiride_dummy.head()

   Down  No  Steady  Up
0     0   1       0   0
1     0   1       0   0
2     0   1       0   0
3     0   1       0   0
4     0   1       0   0

### glipizide

In [28]:
glipizide_dummy = pd.get_dummies(df['glipizide'])
glipizide_dummy.head()

   Down  No  Steady  Up
0     0   1       0   0
1     0   1       0   0
2     0   0       1   0
3     0   1       0   0
4     0   0       1   0

### glyburide

In [29]:
glyburide_dummy = pd.get_dummies(df['glyburide'])
glyburide_dummy.head()

   Down  No  Steady  Up
0     0   1       0   0
1     0   1       0   0
2     0   1       0   0
3     0   1       0   0
4     0   1       0   0

### tolbutamide

In [30]:
tolbutamide_dummy = pd.get_dummies(df['tolbutamide'])
tolbutamide_dummy.head()

   No  Steady
0   1       0
1   1       0
2   1       0
3   1       0
4   1       0

### pioglitazone

In [31]:
pioglitazone_dummy = pd.get_dummies(df['pioglitazone'])
pioglitazone_dummy.head()

   Down  No  Steady  Up
0     0   1       0   0
1     0   1       0   0
2     0   1       0   0
3     0   1       0   0
4     0   1       0   0

### rosiglitazone

In [32]:
rosiglitazone_dummy = pd.get_dummies(df['rosiglitazone'])
rosiglitazone_dummy.head()

   Down  No  Steady  Up
0     0   1       0   0
1     0   1       0   0
2     0   1       0   0
3     0   1       0   0
4     0   1       0   0

### acarbose

In [33]:
acarbose_dummy = pd.get_dummies(df['acarbose'])
acarbose_dummy.head()

   Down  No  Steady  Up
0     0   1       0   0
1     0   1       0   0
2     0   1       0   0
3     0   1       0   0
4     0   1       0   0

### miglitol

In [34]:
miglitol_dummy = pd.get_dummies(df['miglitol'])
miglitol_dummy.head()

   Down  No  Steady  Up
0     0   1       0   0
1     0   1       0   0
2     0   1       0   0
3     0   1       0   0
4     0   1       0   0

### tolazamide

In [35]:
tolazamide_dummy = pd.get_dummies(df['tolazamide'])
tolazamide_dummy.head()

   No  Steady  Up
0   1       0   0
1   1       0   0
2   1       0   0
3   1       0   0
4   1       0   0

### insulin

In [36]:
insulin_dummy = pd.get_dummies(df['insulin'])
insulin_dummy.head()

   Down  No  Steady  Up
0     0   1       0   0
1     0   0       0   1
2     0   1       0   0
3     0   0       0   1
4     0   0       1   0

### glyburide-metformin

In [37]:
glyburide_metformin_dummy = pd.get_dummies(df['glyburide-metformin'])
glyburide_metformin_dummy.head()

   Down  No  Steady  Up
0     0   1       0   0
1     0   1       0   0
2     0   1       0   0
3     0   1       0   0
4     0   1       0   0

### glipizide-metformin

In [38]:
glipizide_metformin_dummy = pd.get_dummies(df['glipizide-metformin'])
glipizide_metformin_dummy.head()

   No  Steady
0   1       0
1   1       0
2   1       0
3   1       0
4   1       0

### change

In [39]:
change_dummy = pd.get_dummies(df['change'])
change_dummy.head()

   Ch  No
0   0   1
1   1   0
2   0   1
3   1   0
4   1   0

### diabetesMed

In [40]:
diabetesMed_dummy = pd.get_dummies(df['diabetesMed'])
diabetesMed_dummy.head()

   No  Yes
0   1    0
1   0    1
2   0    1
3   0    1
4   0    1

## Merge

### Drop Categorical Variable

In [41]:
dft = df.drop("race",axis=1)
dft = dft.drop("gender",axis=1)
dft = dft.drop("age",axis=1)
dft = dft.drop("weight",axis=1)
dft = dft.drop("admission_type_id",axis=1)
dft = dft.drop("discharge_disposition_id",axis=1)
dft = dft.drop("admission_source_id",axis=1)
dft = dft.drop("payer_code",axis=1)
dft = dft.drop("medical_specialty",axis=1)
dft = dft.drop("diag_3",axis=1)
dft = dft.drop("max_glu_serum",axis=1)
dft = dft.drop("A1Cresult",axis=1)
dft = dft.drop("metformin",axis=1)
dft = dft.drop("repaglinide",axis=1)
dft = dft.drop("nateglinide",axis=1)
dft = dft.drop("chlorpropamide",axis=1)
dft = dft.drop("glimepiride",axis=1)
dft = dft.drop("glipizide",axis=1)
dft = dft.drop("glyburide",axis=1)
dft = dft.drop("tolbutamide",axis=1)
dft = dft.drop("pioglitazone",axis=1)
dft = dft.drop("rosiglitazone",axis=1)
dft = dft.drop("acarbose",axis=1)
dft = dft.drop("miglitol",axis=1)
dft = dft.drop("tolazamide",axis=1)
dft = dft.drop("insulin",axis=1)
dft = dft.drop("glyburide-metformin",axis=1)
dft = dft.drop("glipizide-metformin",axis=1)
dft = dft.drop("change",axis=1)
dft = dft.drop("diabetesMed",axis=1)

In [42]:
dfs = pd.concat([race_dummy,gender_dummy,age_dummy,weight_dummy,admission_type_id_dummy,discharge_disposition_id_dummy,
      admission_source_id_dummy,payer_code_dummy,medical_specialty_dummy,diag_3_dummy,max_glu_serum_dummy,
      A1Cresult_dummy,metformin_dummy,repaglinide_dummy,nateglinide_dummy,chlorpropamide_dummy,glimepiride_dummy,
      glipizide_dummy,glyburide_dummy,tolbutamide_dummy,pioglitazone_dummy,rosiglitazone_dummy,acarbose_dummy,miglitol_dummy,
      tolazamide_dummy,insulin_dummy,glipizide_metformin_dummy,glyburide_metformin_dummy,change_dummy,diabetesMed_dummy],axis=1)
df = pd.concat([dft,dfs],axis=1)

In [43]:
df.shape

(101766, 1042)

## Normalization

### Make sure all ordinal variables are numerical type

In [44]:
numeric_list = ["time_in_hospital","num_lab_procedures","num_procedures","num_medications",
               "number_outpatient","number_emergency","number_inpatient","number_diagnoses"]

In [45]:
df[numeric_list].apply(pd.to_numeric)

,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
0,1,41,0,1,0,0,0,1
1,3,59,0,18,0,0,0,9
2,2,11,5,13,2,0,1,6
3,2,44,1,16,0,0,0,7
4,1,51,0,8,0,0,0,5
5,3,31,6,16,0,0,0,9
6,4,70,1,21,0,0,0,7
7,5,73,0,12,0,0,0,8
8,13,68,2,28,0,0,0,8
9,12,33,3,18,0,0,0,8
10,9,47,2,17,0,0,0,9
11,7,62,0,11,0,0,0,7
12,7,60,0,15,0,1,0,8
13,10,55,1,31,0,0,0,8
14,1,49,5,2,0,0,0,8
15,12,75,5,13,0,0,0,9
16,4,45,4,17,0,0,0,8
17,3,29,0,11,0,0,0,3
18,5,35,5,23,0,0,0,9
19,6,42,2,23,0,0,0,8
20,2,66,1,19,0,0,0,7
21,2,36,2,11,0,0,0,6
22,2,47,0,12,0,0,0,8
23,11,42,2,19,0,0,0,8
24,3,19,4,18,0,0,0,6
25,1,33,0,7,0,0,0,3
26,6,64,3,18,0,0,0,7
27,2,25,2,11,0,0,0,3
28,10,53,0,20,0,0,0,6
29,5,52,0,14,0,0,0,8
...,...,...,...,...,...,...,...,...
101736,8,54,1,20,1,0,1,9
101737,4,50,4,25,0,0,0,9
101738,1,37,0,10,0,0,2,7
101739,1,32,6,14,2,0,2,9
101740,1,1,5,8,0,0,0,4
101741,4,21,1,8,0,0,1,9
101742,4,43,0,10,0,0,0,9
101743,3,45,0,26,1,0,1,9
101744,1,49,0,12,0,0,0,9
101745,3,57,0,7,0,1,0,3
101746,4,2,0,7,1,0,0,5
101747,8,51,6,19,0,0,0,9
101748,14,69,0,16,0,0,0,5
101749,3,27,1,29,0,1,0,9
101750,3,31,2,24,0,0,0,9
101751,13,77,6,65,0,0,0,16
101752,3,13,1,5,0,0,0,8
101753,13,51,2,13,0,0,0,9
101754,9,50,2,33,0,0,0,9
101755,14,73,6,26,0,1,0,9
101756,2,46,6,17,1,1,1,9
101757,5,21,1,16,0,0,1,9
101758,5,76,1,22,0,1,0,9
101759,1,1,0,15,3,0,0,7
101760,6,45,1,25,3,1,2,9
101761,3,51,0,16,0,0,0,9
101762,5,33,3,18,0,0,1,9
101763,1,53,0,9,1,0,0,13
101764,10,45,2,21,0,0,1,9
101765,6,13,3,3,0,0,0,9

### Normalize Numerical Variable

In [46]:
def z_norm(x):
    
    ret = (x - x.mean()) / x.std()
    
    return ret

In [47]:
x = df[numeric_list]
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)

In [48]:
df = df.drop(numeric_list,axis = 1)

In [49]:
df = pd.concat([df,x],axis=1)

In [50]:
df.shape

(101766, 1042)

## Train+Test Data Prepare

In [51]:
X_train, X_test, y_train, y_test = train_test_split(df, target, test_size=0.2)

In [52]:
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(81412, 1042) (81412,)
(20354, 1042) (20354,)

In [53]:
test_set = pd.concat([X_test,y_test],axis=1)
test_set.to_csv("test_set.csv")

In [54]:
X_train.to_csv("train.csv")
y_train.to_csv("train_target.csv")

## Import Data and Define Global Variables

In [54]:
X_train = pd.read_csv("train.csv")
y_train = pd.read_csv("train_target.csv")
test = pd.read_csv("test_set.csv")

C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [55]:
def top_40_plus(model, X, y):

    rfe = RFE(model, 40)
    fit = rfe.fit(X, y)
    
    keep = []
    for i,a in enumerate(fit.support_):
        if (a == True):
            keep.append(i)
    
    return keep

In [56]:
def lr(X_train, y_train, test):

    lr = BaggingClassifier(base_estimator = LogisticRegression())
    lr.fit(X_train, y_train)
    y_pred = lr.predict_proba(X_test)
    
    return y_pred

In [58]:
def nb(X_train, y_train, test):
    
    nb = BaggingClassifier(base_estimator = GaussianNB())
    nb.fit(X_train,y_train)
    y_pred = nb.predict_proba(X_test)
    
    return y_pred

In [59]:
def rf(X_train, y_train, test):
    
    rf = BaggingClassifier(base_estimator = RandomForestClassifier())
    rf.fit(X_train,y_train)
    y_pred = rf.predict_proba(X_test)
    
    return y_pred

In [60]:
def sv(X_train, y_train, test):
    
    sv = BaggingClassifier(base_estimator = SVC(probability = True))
    sv.fit(X_train,y_train)
    y_pred = sv.predict_proba(X_test)
    
    return y_pred

In [61]:
def gb(X_train, y_train, test):

    gb = BaggingClassifier(base_estimator = GradientBoostingClassifier())
    gb.fit(X_train, y_train)
    y_pred = gb.predict_proba(X_test)
    
    return y_pred

In [62]:
def ensemble(X_train, y_train, X_test):
    lr_keep = top_40_plus(LogisticRegression(), X_train, y_train)

    # Declared Globally
    # X_train, X_test, y_train, y_test 
   
    lr_y = lr(X_train.iloc[:,lr_keep], y_train, X_test.iloc[:,lr_keep])
    sv_y = sv(X_train.iloc[:,lr_keep], y_train, X_test.iloc[:,lr_keep])
    rf_y = rf(X_train.iloc[:,lr_keep], y_train, X_test.iloc[:,lr_keep])
    nb_y = nb(X_train.iloc[:,lr_keep], y_train, X_test.iloc[:,lr_keep])
    gb_y = gb(X_train.iloc[:,lr_keep], y_train, X_test.iloc[:,lr_keep])
    
    final_y = []
    
    for i in range(len(X_test)):
        final_y.append((lr_y[i][1]+ nb_y[i][1]+rf_y[i][1]+ sv_y[i][1]+ gb_y[i][1])/5)
        
    return final_y

In [63]:
e = ensemble(X_train, y_train, X_test)

ValueError: could not convert string to float: 'V15'